{% extends 'forms.html' %}
{% load static %}
{% block title %} <title>Unpetrified | Login</title> {% endblock %}
{% block form %}
<form action="{% url 'login' %}?next=/" method="post">
    {% csrf_token %}

    <div class="register">Login</div>

    {{form.as_p}}

    <input type="submit" value="Login" class="btn">

    <!-- important for page redirection -->
    <input type="hidden" name="next" value="{{ next }}">

    <div class="register-link">Not a member? <a href="{% url 'register' %}">Register</a></div>

</form>
{% endblock %}