{% extends 'forms.html' %}
{% load static %}

{% block title %} <title>Unpetrified | Create Post</title> {% endblock %}

{% block form %}

<form action="" method="POST" enctype="multipart/form-data">
    <div class="register">Create Post</div>
    {% csrf_token %}

    {% for field in form %}
        <div class="error" style="list-style: none;">{{field.errors}}</div>
        <p> {{field.label_tag}} {{field}} </p>
    {% endfor %}
 
    <input type="submit" value="Submit" class="btn">

</form>
{% endblock %}