{% extends 'index.html' %}
{% load static %}

{% block title %} <title>Unpetrified | Post</title> {% endblock %}
{% block style %} <link rel="stylesheet" href="{% static 'css\post.css' %}"> {% endblock %}

    {% block content %}

    <div class="content">

        <img src="{{article.photo.url}}" alt="">

        <h4>{{article.title}}</h4>
        <span>By {{article.author}}, {{article.date}}</span>

        {% for content in contents %}
            <p>{{content}}</p>
        {% endfor %}

    </div>

    <span class="rule"></span>

    <div class="comments">
        <div class="row">COMMENTS</div>

        <div class="comment"></div>

        {% if user.is_authenticated %}

        <form id="comment_form">    
            {% csrf_token %}

            {{form.as_p}}
            <input type="submit" value="comment">

        </form>

        {% else %}

       <div class="login-msg" style="text-align: center;opacity: .8;">Login to leave a comment. Click <a href="{% url 'login' %}?next={{request.path}}">here</a></div>

        {% endif %}

    </div>

    <div class="row">RECENT POSTS</div>

    {% for post in posts reversed %}

        {% if post.id != article.id %}

        <div class="card">

            <div class="head">
                <a href="/post/{{post.id}}"><h3>{{post.title}}</h3></a>
            </div>
            
            <a href="/post/{{post.id}}">
                <img src="{{post.photo.url}}" alt="">
            </a>
            
            <p>
                {{post.content | truncatechars:200}}
            </p>

        </div>

        {% endif %}

    {% endfor %}
    
    {% endblock %}
    
    {% block script %}
        <div style="display: none;" class="comment-url">/{{article.id}}</div>
        <script src="{% static 'js\post.js' %}"></script>
    {% endblock %}