{% extends 'forms.html' %}
{% load static %}
{% block title %} <title>Unpetrified | Password Reset</title> {% endblock %}
{% block form %}
<form method="post">
    {% csrf_token %}

    <div class="register">Reset Password</div>

    {{form.as_p}}

    <input type="submit" value="Reset Password" class="btn">

    <!-- important for page redirection -->
    <input type="hidden" name="next" value="{{ next }}">

    <div class="register-link">Return to <a href="{% url 'login' %}?next={% url 'index' %}">login</a></div>

</form>
{% endblock %}